<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>隐患排查</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/layout.css}">
    <link rel="stylesheet" th:href="@{/static/css/jquery.datetimepicker.css}">
    <style type="text/css">
        .item-name{
            display: inline-block;
            min-width: 100px;
        }

        .form-inline .item-content{
            width: 500px;
        }
        .form-inline{
            margin: 5px;
        }
        .table{
            table-layout: fixed;
        }
        .td-ellipsis{
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
        }
        .header-item{
            float: left;
            margin-bottom: 7px;
            margin-top: 5px;
            margin-right: 50px;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">山西铺龙湾煤业有限公司隐患排查治理“五定”落实表</h3>
                            </div>

                            <div class="panel-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr class="text-center">
                                        <th class="text-center" style="width: 5%">专业</th>
                                        <th class="text-center" style="width: 5%">隐患等级</th>
                                        <th class="text-center" style="width: 15%">隐患内容</th>
                                        <th class="text-center" style="width: 15%">整改措施</th>
                                        <th class="text-center" style="width: 5%">承办单位</th>
                                        <th class="text-center" style="width: 10%">完成时间</th>
                                        <th class="text-center" style="width: 5%">责任人</th>
                                        <th class="text-center" style="width: 5%">治理资金</th>
                                        <th class="text-center" style="width: 10%">治理预案</th>
                                        <th class="text-center" style="width: 10%">验收时间</th>
                                        <th class="text-center" style="width: 5%">验收人</th>
                                        <th class="text-center" style="width: 5%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="item-content" name="hiddenTroubleItem" th:each="item:${page.content}">
                                        <td  class="td-ellipsis text-center" th:text="${item.majors}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.grade}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.content}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.actions}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.undertakeUnit}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.finishTime}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.responsiblePerson}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.controllingMoney}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.managementPlan}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.acceptanceTime}"></td>
                                        <td  class="td-ellipsis text-center" th:text="${item.acceptancepeople}"></td>
                                        <td  class="td-ellipsis">
                                            <a class="btn-sm btn-success" th:href="@{/hiddenTrouble/detail/}+${item.id}">详情</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="panel-footer"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;


</script>
</body>
</html>