<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>隐患排查</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/layout.css}">
    <link rel="stylesheet" th:href="@{/static/css/jquery.datetimepicker.css}">
    <style rel="stylesheet" type="text/css">
        .table-title{
            text-align: center;
        }
        .table-sub-title{
            height: 30px;
        }
        .table-date{
            float: right;
        }
        .table-fix{
            table-layout:fixed
        }
        .td-ellipsis{
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            text-align: center;
        }
        .table-fix .table-content-center{
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid #333;
        }
        .table-fix td{
            height: 40px;
        }
        .table-fix .no-padding{
            padding: 0px;
        }
        .table-fix td{
            text-align: center;
        }
        .table-fix input{
            height: 25px;
        }
        .header-item{
            float: left;
            margin-bottom: 7px;
            margin-top: 5px;
            margin-right: 50px;
        }
        .panel .panel-body td input{
            border: none;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        .panel .panel-body .table>tbody>tr>td{
            border-top: none;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel">
                            <!--<div class="panel-heading">-->
                                <!--<h3 class="panel-title">山西铺龙湾煤业有限公司隐患排查治理“五定”落实表</h3>-->
                            <!--</div>-->


                            <div class="panel-body">
                                <div>
                                    <a type="button" class="btn btn-primary btn-export noprint" th:href="@{/hiddenTrouble/export/}+${hiddenTroubleId}">导出</a>
                                    <button type="button" class="btn btn-primary btn-print noprint" onclick="javascript:window.print();">打印</button>
                                    <button type="button" class="btn btn-primary btn-toggle noprint">隐藏</button>
                                </div>
                                <!--startprint-->
                                <div class="print" >
                                    <h3 class="table-title">事故隐患排查治理登记台账</h3>
                                    <div class="table-sub-title">
                                        <span class="table-date" th:text="${hiddenTrouble.createMonthStr}">20&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月</span>
                                    </div>
                                    <div class="table-responsive">
                                        <table border="1" cellpadding="10" width="100%" class="table table-fix table-layout">
                                            <thead>
                                            <tr>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 2%">序<br>号</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 8%">排查地点</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 8%">排查<br>时间</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 5%">排查<br>人员</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 15%">存在的隐患及问题</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 5%">类别</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 5%">等级</th>
                                                <th colspan="6" class="table-content-center no-padding" scope="col" style="width: 30%">隐患整改“五落实”</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 5%">督办部<br>门/人员</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 8%">验收<br>时间</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 5%">验收部<br>门/人员</th>
                                                <th rowspan="2" class="table-content-center" scope="col" style="width: 10%">整改结果</th>
                                            </tr>

                                            <tr>
                                                <th colspan="2" class="table-content-center no-padding" scope="col" style="width: 14%">整改措施</th>
                                                <th class="table-content-center no-padding" scope="col" style="width: 2%">责任单位<br>/责任人</th>
                                                <th class="table-content-center no-padding" scope="col" style="width: 2%">资金</th>
                                                <th class="table-content-center no-padding" scope="col" style="width: 2%">时限</th>
                                                <th class="table-content-center no-padding" scope="col" style="width: 4%">预案</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="item-content" th:each="item:${hiddenTrouble.hiddentroubles}">
                                                <td th:text="${item.orderNumber}"></td>
                                                <td th:text="${item.checkAddress}"></td>
                                                <td th:text="${item.checkTime}"></td>
                                                <td th:text="${item.checkPerson}"></td>
                                                <td th:text="${item.content}"></td>
                                                <td th:text="${item.type}"></td>
                                                <td th:text="${item.level}"></td>
                                                <td th:text="${item.actions}" colspan="2"></td>
                                                <td th:text="${item.responsiblePerson}"></td>
                                                <td th:text="${item.controllingMoney}"></td>
                                                <td th:text="${item.timeLimit}"></td>
                                                <td th:text="${item.managementPlan}"></td>
                                                <td th:text="${item.handlePerson}"></td>
                                                <td th:text="${item.acceptanceTime}"></td>
                                                <td th:text="${item.acceptancePeople}"></td>
                                                <td th:text="${item.result}"></td>
                                            </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!--endprint-->
                            </div>

                            <!--<div class="panel-footer"></div>-->
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;
    $(".close-window").click(function (e) {
        window.history.go(-1);
    });
    function preview() {
        var bdhtml=window.document.body.innerHTML;//获取当前页的html代码
        var startStr="<!--startprint-->";//设置打印开始区域
        var endStr="<!--endprint-->";//设置打印结束区域
        var printHtml=bdhtml.substring(bdhtml.indexOf(startStr)+startStr.length,bdhtml.indexOf(endStr));//从标记里获取需要打印的页面
        window.document.body.innerHTML=printHtml;//需要打印的页面
        window.print();
        window.document.body.innerHTML=bdhtml;//还原界面
        location.reload();
    }
    $(".btn-toggle").click(function () {
        if($(".table-fix td").hasClass("td-ellipsis")){
            $(".table-fix td").removeClass("td-ellipsis");
            $(this).html("隐藏");
        }else{
            $(".table-fix td").addClass("td-ellipsis");
            $(this).html("显示");
        }
    });


</script>
</body>
</html>