<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>安全风险管控</title>
  <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/static/css/layout.css}">
  <link rel="stylesheet" th:href="@{/static/css/jquery.datetimepicker.css}">
  <style type="text/css">
    .item-name{
      display: inline-block;
      min-width: 100px;
    }

    .form-inline .item-content{
      width: 500px;
    }
    .form-inline{
      margin: 5px;
    }
    .table{
      table-layout: fixed;
    }
    .td-ellipsis{
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
  </style>
</head>

<body>
<div id="wrapper">
  <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
  <div class="main">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">安全风险管控列表</h3>
              </div>
              <form th:action="@{/risk/value/listview}" method="get">
                <div class="controller form-inline">
                  <a class="btn btn-primary" th:href="@{/risk/value/add}">录入</a>

                  <input type="text" class="form-control" name="keyword" th:value="${queryDTO.keyword}" placeholder="风险点、责任部门、管控措施执行情况..." style="width: 300px"/>
                  <select class="form-control risk_name" name="riskTypeId">
                    <option value="">类型</option>
                    <option th:each="c:${riskTypes}"  th:text="${c?.name}" th:id="${c?.id}" th:value="${c?.id}" th:selected="${queryDTO!=null&&queryDTO.riskTypeId==c.id}"></option>
                  </select>
                  <select class="form-control risk_name" name="riskLevelId">
                    <option value="">风险分级</option>
                    <option th:each="c:${riskLevels}"  th:text="${c?.name}" th:id="${c?.id}" th:value="${c?.id}" th:selected="${queryDTO!=null&&queryDTO.riskLevelId==c.id}"></option>
                  </select>
                  <!--<input type="text" class="form-control date" placeholder="开始时间(检查时间)" name="beginDate" th:value="${queryDTO.beginDate?.toString()}">-->
                  <!--<input type="text" class="form-control date" placeholder="结束时间(检查时间)" name="endDate" th:value="${queryDTO.endDate?.toString()}">-->
                  <button type="submit" class="btn btn-primary">搜索</button>
                  <span th:text="${'共 '+page.totalElements+' 条'}"></span>
                </div>
              </form>


              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th style="width: 10%">风险点</th>
                    <th style="width: 10%">风险描述</th>
                    <th style="width: 5%">类型</th>
                    <th style="width: 5%">风险值</th>
                    <th style="width: 5%">风险分级</th>
                    <th style="width: 15%">主要管控措施</th>
                    <th style="width: 5%">风险分析</th>
                    <th style="width: 5%">责任部门</th>
                    <th style="width: 5%">责任人</th>
                    <th style="width: 10%">治理时限</th>
                    <th style="width: 5%">治理资金(万元)</th>
                    <th style="width: 5%">管控措施执行情况</th>
                    <th style="width: 15%">操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="item:${page.content}">
                    <td th:text="${item.riskAddr}" class="td-ellipsis"></td>
                    <td th:text="${item.riskDesc}" class="td-ellipsis"></td>
                    <td th:text="${item.riskType?.name}" class="td-ellipsis"></td>
                    <td th:text="${item.riskValue}" class="td-ellipsis"></td>
                    <td th:text="${item.riskLevel.name}" class="td-ellipsis"></td>
                    <td th:text="${item.precaution}" class="td-ellipsis"></td>
                    <td th:text="${item.riskAnalysis}" class="td-ellipsis"></td>
                    <td th:text="${item.riskDept}" class="td-ellipsis"></td>
                    <td th:text="${item.responsible}" class="td-ellipsis"></td>
                    <td th:text="${item.handleTimeLimit}" class="td-ellipsis"></td>
                    <td th:text="${item.handleMoney}" class="td-ellipsis"></td>
                    <td th:text="${item.handleResult}" class="td-ellipsis"></td>
                    <td>
                      <!--<a class="btn-sm btn-success detail" th:value="${item.id}" th:href="@{/risk/value/detail/}+${item.id}">详情</a>-->
                      <a class="btn-sm btn-primary handle" th:value="${item.id}" th:href="@{/risk/value/edit/}+${item.id}">编辑</a>
                      <a class="btn-sm btn-primary delete" th:value="${item.id}">删除</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!--分页-->
                <nav th:replace="common/page::paging"></nav>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>


</div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;

    $('.date').datetimepicker({
        lang:"ch", //语言选择中文 注：旧版本 新版方法：$.datetimepicker.setLocale('ch');
        format:"Y-m-d",      //格式化日期
        timepicker:false,    //关闭时间选项
        yearStart:2000,     //设置最小年份
        yearEnd:2050,        //设置最大年份
        todayButton:false    //关闭选择今天按钮
    });

    $(".delete").click(function () {
        ajaxUtils.getData(ctx+"risk/value/delete/"+$(this).attr("value"),function (e) {
            if (e.success){
                window.location.reload();
            }else{
                alert(e.message);
            }
        })
    });
</script>
</body>
</html>
