<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>安全风险管控</title>
  <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/static/css/layout.css}">
  <link rel="stylesheet" th:href="@{/static/css/jquery.datetimepicker.css}">
  <style type="text/css">
    .list-group-item-noneborder{
      border: none;
    }
  </style>
</head>

<body>
<div id="wrapper">
  <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
  <div class="main">
    <div class="">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">安全风险管控详情</h3>
              </div>


              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">检查时间</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${#temporals.format(riskValue.checkTime,'yyyy-MM-dd HH:mm:ss')}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">录入时间</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${#temporals.format(riskValue.publishTime,'yyyy-MM-dd HH:mm:ss')}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险地点</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${riskValue.riskAddr.name}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险描述</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${riskValue.riskDesc}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险等级</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${riskValue.riskLevel.name}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">管控措施</span>
                    <textarea type="text" class="form-control item-content risk_mk" th:text="${riskValue.precaution}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">管控人员部门</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${riskValue.riskMkDept.name}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险分析</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${riskValue.riskValue}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险值</span>
                    <textarea type="text" class="form-control item-content risk_number" th:text="${riskValue.riskNumber.name}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险责任人</span>
                    <textarea type="text" class="form-control item-content risk_responsible" th:text="${riskValue.responsible}" readonly></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">管控情况</span>
                    <textarea type="text" class="form-control item-content handleResult" th:text="${riskValue.handleResult}"></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <button type="button" class="btn btn-default close-window">关闭</button>
                    <button type="button" class="btn btn-success save">保存</button>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>


</div>


<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;
    var _id = /*[[${riskValue.id}]]*/;
    var handleResult = /*[[${riskValue.handleResult}]]*/;
    $(function () {
        if(handleResult==""||handleResult==null){
            $(".save").show();
            $(".handleResult").removeAttr("readonly");

        }else{
            $(".save").hide();
            $(".handleResult").attr("readonly","readonly");
        }
    });
    $('.save').click(function (e) {
        var risk = new Object();
        risk.id = _id;
        risk.handleResult = $(".handleResult").val();
        ajaxUtils.postParams(ctx+"risk/value/edit/"+_id,risk,function (e) {
            if(e.success){
                window.location.href = ctx+"risk/value/listview";
            }
        })

    });
    $(".close-window").click(function (e) {
        window.history.go(-1);
    });

</script>
</body>
</html>
