<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>安全风险管控</title>
  <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/static/css/layout.css}">
  <link rel="stylesheet" th:href="@{/static/css/jquery.datetimepicker.css}">
  <style type="text/css">
    .list-group-item-noneborder{
      border: none;
    }
  </style>

</head>

<body>
<div id="wrapper">
  <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
  <div class="main">
    <div>
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">风险录入</h3>
              </div>

              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险点</span>
                    <input type="text" class="form-control item-content risk_addr" th:value="${riskValue.riskAddr}">
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险描述</span>
                    <textarea type="text" class="form-control item-content risk_desc" th:text="${riskValue.riskDesc}"></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">类型</span>
                    <select class="form-control item-content risk_type" >
                      <option th:each="a:${riskTypes}"  th:text="${a?.name}" th:id="${a?.id}" th:selected="${riskValue!=null&&riskValue.riskType.id==a.id}"></option>
                    </select>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险值</span>
                    <input type="text" class="form-control item-content risk_value" th:value="${riskValue.riskValue}">
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险分级</span>
                    <select class="form-control item-content risk_level" >
                      <option th:each="l:${riskLevels}"  th:text="${l?.name}" th:id="${l?.id}" th:selected="${riskValue!=null&&riskValue.riskLevel.id==l.id}"></option>
                    </select>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">主要管控措施</span>
                    <textarea type="text" class="form-control item-content precaution" th:text="${riskValue.precaution}"></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">风险分析</span>
                    <textarea type="text" class="form-control item-content risk_analysis" th:text="${riskValue.riskAnalysis}"></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">责任部门</span>
                    <textarea type="text" class="form-control item-content risk_dept" th:text="${riskValue.riskDept}"></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">责任人</span>
                    <textarea type="text" class="form-control item-content risk_responsible" th:text="${riskValue.responsible}"></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">治理时限</span>
                    <textarea type="text" class="form-control item-content risk_handleTimeLimit" th:text="${riskValue.handleTimeLimit}" th:value="${riskValue.handleMoney}"></textarea>
                  </li>

                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">治理资金(万元)</span>
                    <input type="text" class="form-control item-content risk_handleMoney" th:value="${riskValue.handleMoney}">
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <span class="item-name">管控措施执行情况</span>
                    <textarea type="text" class="form-control item-content risk_handleResult" th:text="${riskValue.handleResult}"></textarea>
                  </li>
                  <li class="list-group-item list-group-item-noneborder">
                    <button type="button" class="btn btn-default close-window">关闭</button>
                    <button type="button" class="btn btn-primary save">保存</button>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;
    var _id = /*[[${riskValue.id}]]*/;

    $('.date').datetimepicker({
        lang:"ch", //语言选择中文 注：旧版本 新版方法：$.datetimepicker.setLocale('ch');
        format:"Y-m-d H:i:00",      //格式化日期
        roundTime: 'round',
        timepicker:true,    //打开时间选项
        step:1,
        todayButton:true    //关闭选择今天按钮
    });

    $('.save').click(function (e) {

        var risk = new Object();
        risk.riskAddr = $(".risk_addr").val();
        risk.riskDesc = $(".risk_desc").val();
        risk.riskTypeId = $(".risk_type").find("option:selected").attr("id");
        risk.riskValue = $(".risk_value").val();
        risk.riskLevelId = $(".risk_level").find("option:selected").attr("id");
        risk.precaution = $(".precaution").val();
        risk.riskAnalysis = $(".risk_analysis").val();
        risk.riskDept = $(".risk_dept").val();
        risk.responsible = $(".risk_responsible").val();
        risk.handleTimeLimit = $(".risk_handleTimeLimit").val();
        risk.handleMoney = $(".risk_handleMoney").val();
        risk.handleResult = $(".risk_handleResult").val();
        if(!risk.riskAddr
            ||!risk.riskDesc
            ||!risk.riskTypeId
            ||!risk.riskValue
            ||!risk.riskLevelId
            ||!risk.precaution
            ||!risk.riskAnalysis
            ||!risk.riskDept
            ||!risk.handleTimeLimit){
            alert("您还有未填写的内容");
            return;
        }
        ajaxUtils.postParams(ctx+"risk/value/edit/"+_id,risk,function (e) {
            if(e.success){
                window.location.href = ctx+"risk/value/listview";
            }
        })

    });

    $(".close-window").click(function (e) {
        window.history.go(-1);
    });
</script>

</body>
</html>
